<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>powered by wsure</h2>
    <p>Welcome to <%= title %></p>
  <footer > powered by wsure </footer>
  </body>
</html>
